/* Webfont: SourceSansPro */@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro.eot?#iefix'); /* IE9 Compat Modes */
    src: url('../fonts/SourceSansPro.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/SourceSansPro.woff') format('woff'), /* Modern Browsers */
    url('../fonts/SourceSansPro.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/SourceSansPro.svg#SourceSansPro') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Glyph */@font-face {
    font-family: 'Glyph';
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix'); /* IE9 Compat Modes */
    src: url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Mobile Browsers */
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/glyphicons-halflings-regular.svg') format('svg'); /* Legacy iOS */
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro", Calibri, sans-serif;
}
body {
    background: #1F2A3B !important;
    padding-top: 20px;
}
.glyph {
    font-family: Glyph;
}
h1, h2 {
    text-align: center;
    color:#fff !important;
}
table {
    width: 75% !important;
    margin: auto;
}
table tr td:first-child {
    width: 20%;
    font-weight: bold;
    font-size: large;
    text-align: right;
    padding-right: 10px;
    color:#c0c0c0 !important;
}
form label {
    color: #c0c0c0 !important;
}
form label:hover{
    color:#fff;
}
p {
    background: #a94442;
    color:#fff;
    text-align: center;
    padding: 5px;
}
