@charset "utf-8";
/* CSS Document */
/* Webfont: SourceSansPro */@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro.eot?#iefix'); /* IE9 Compat Modes */
    src: url('../fonts/SourceSansPro.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/SourceSansPro.woff') format('woff'), /* Modern Browsers */
    url('../fonts/SourceSansPro.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/SourceSansPro.svg#SourceSansPro') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Glyph */@font-face {
    font-family: 'Glyph';
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix'); /* IE9 Compat Modes */
    src: url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Mobile Browsers */
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/glyphicons-halflings-regular.svg') format('svg'); /* Legacy iOS */
}


* {
	padding:0px;
	margin:0px;
	font-family:"Source Sans Pro", Calibri, sans-serif;
}
body {
	background:#f1f1f1 url(../img/bg.jpg) center no-repeat fixed;
	background-size: cover;
	cursor: url(../img/cursor.cur), url(../img/cursor.gif),auto;
    margin: 0px !important;
    padding: 0px !important;
}
header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:35px;
}
#shortcuts {
	position:fixed;
	width:60%;
	height:60%;
	left:20%;
	top:20%;
	background: rgba(0,0,0,0.6) url(../img/shortcuts.png) no-repeat;
	background-position:center;
	background-size:contain;
	padding:10px;
	border:thick solid #FFFFFF;
	border-radius:10px;
	z-index:100;
	transition:ease 0.5s;
}
.glyph {
    font-family: Glyph;
}

h1{
	font-weight:400;
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
}

.clear {
	clear:both;
}
#popup-bg {
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.1);
	position:fixed;
}
.container-custom {
	padding:10px 5px;
	width:100%;
}

.scroll{
	overflow:auto;
	overflow-style:marquee-line;
	width:99%;
}

.col {
	float:left;
	overflow:auto;
}

#main-framework{
	position:fixed;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	z-index:-1;
	padding-top:0px;
}

input, select {
    padding:3px;
}
input[type="button"], button {
    padding: 5px 10px;
    margin: 0px 5px;
    background: #BCCFE3;
    /*color: #E2EFFF;*/
    font-weight: bold;
    font-size: medium;
    border: 1px solid #1F2A3B;
    border-radius: 3px;
    transition: ease 0.5s;
}
input[type="button"]:hover,
button:hover {
    color:#fff;
    background: #1F2A3B;
    border-radius: 5px;
}

nav {
	height:35px;
	line-height:35px;
	width:100%;
	color:#fff;
	transition:ease-in-out 0.5s;
}
#nav-logo{
	height:35px;
	width:20%;
}
nav a{
	color:#fff;
	text-decoration:none;
}
nav ul li{
	list-style-type:none;
	display:inline-block;
	text-align:center;
}
.nav-left {
	width: 20%;
	float:left;
}
.nav-center {
	width:65%;
	float:left;
}
.nav-right {
	width:15%;
	float:right;
}

#top-nav {
	background:rgba(47,47,47,0.7);
}

#nav-icons {
	float:right;
}
#nav-icons li {
	cursor:pointer;
	line-height:35px;
	transition:ease-in-out 0.5s;
	padding:0px 10px;
}
#nav-icons li img{
	width:26px;
	height:26px;

}
#nav-icons li:hover,
.nav-icons-selected {
	background:#17262D;
}

#navigator {
	background:rgba(39,45,51,0.8);
}
#nav-tabs li {
	line-height:35px;
	cursor:pointer;
}
#nav-tabs li.context{
	width:20%;
	font-size:25px;
	font-weight:400;
	border-right: thin solid #C3C3C3;
	margin:0px;
	padding:0px;
	transition:ease-in 0.6s;
}
#nav-tabs li:first-child {
	border-left: thin solid #C3C3C3;
}
#navigator #search-todo {
	width:100%;
}
#nav-search {
	padding-left:10px;
	padding-right:10px;
	transition:ease 0.5s;
}
#nav-search:hover {
	border-bottom:4px solid #ff503f;
	height:30px;
}

#search-master, #search-todo {
	height:30px;
	line-height:35px;
	color:#FFFFFF;
	background:rgba(130,130,130,0.80);
	border:none;
	border-radius: 3px;
	transition:ease-in-out 0.5s;
	padding-left:3px;
}
#search-master:hover, #search-todo:hover,
#search-master:focus, #search-todo:focus {
	height:32px;
	border-bottom:solid #8C8C8C 1.5px;
	border-top:solid #8C8C8C 0.5px;
	border-radius: 20px;
	color:#1F1F1F;
	background:rgba(255,255,255,0.9);
}
.nav-current {
	background:#22303e;
	transition:ease-in-out 0.5s;
	border-bottom: 3px solid #ff503f;
	height:32px;
	color:#ff503f;
}
.nav-current:hover {
	color:#ff503e !important;
}
#nav-tabs li:hover {
	color: #ff503f;
}

#search-float {
	position:fixed;
	left: 20%;
	top:00px;
	width:64%;
	background:#272d33;
	color:#FFFFFF;
	border-bottom:#252c32 solid 3px;
	border-radius:5px;
	padding: 5px;
	padding-bottom:15px;
}
#search-result {
	background:#272d33;
	color:#f1f1f1;
	overflow: auto;
}
#search-result p{
	color:#282e33;
	background: rgba(248,248,248,0.75);
	padding: 2px 5px;
	margin:2px 3px;
	border-radius:3px;
	transition:ease 0.3s;
}
#search-result p:hover{
	background: #fff;
	border-radius:5px;
}
#search-result p img{
    width:26px;
    height:26px;
    border-radius: 26px;
}
#search-result a{
	color:#282e31;
	font-weight:bold;
}
#search-master {
	width:99%;
	text-align:left;
	margin-top:-5px;
}
#exit-ico {
	width:24px;
	height:24px;
	cursor:pointer;
	position:absolute;
	top: 12px;
	right:15px;
}

#nav-user {
	width:26px;
	height:26px;
}
#personInfo-float {
	position:fixed;
	background:#17262D;
	padding:10px;
	color:#fff;
	top:35px;
	right:10%;
}
#personInfo-float h3 {
	text-align:center;
}
#personInfo-float span {
	font-weight:bold;
}

.nav-float{
	position:fixed;
	top:35px;
	right:0px;
	background:#17262D;
	color:#fff;
	padding:10px;
}

#nav-settings ul{
	list-style-type:none;
	margin:0px;
	display:block !important;
}
#nav-settings li {
	border-bottom: thin dotted #CBCBCB;
    display: block !important;
}

#frame-left, #frame-center, #frame-right{
	float:left;
	height:100%;
	transition:ease-in-out;
	padding-top:35px;
}
#frame-left{
	width:20%;
	background:#363f4d;
	color:#EDEDED;
}
#frame-center{
	width:61.5%;
	transition:ease 0.3s;
}
#frame-center:hover{
	background:rgba(241,241,241,0.3);
}
#frame-right{
	width:17%;
	background:#40464f;
	color:#EDEDED;
	position:absolute;
	top:0px;
	right:0px;
}

.left-event {
	padding-top:10px;
	border-bottom: thin dashed #676767;
}

#frame-left #sub-menu {
	overflow:auto;
}
#sub-menu ul li {
	list-style-type:none;
	padding:10px 10px;
	padding-right:25px;
	background:#2B324F;
	margin-top:3px;
	cursor:pointer;
	transition:ease 0.3s;
	text-align:right;
}
#sub-menu ul li:hover {
	background:#333D4B;
}
#frame-left select {
	border:none;
	border-radius:5px;
	padding-right:15px;
	background:#666666;
	color:#FFFFFF;
	font-size:16px;
	font-weight:700;
}
#frame-left option {
	background:#242a31;
	color:#fff;
}
#frame-left img {
	width:85%;
}

#discuss .scroll {
	height:480px;
}
#discuss .avatar {
	height:40px;
	width:40px;
	margin-bottom:-5px;
	margin-top:15px;
	border-radius:20px;
	border:thin dashed #4f5154;
}
#discuss .name {
	font-weight:400;
	font-size:20px;
	line-height:40px;
	margin-top:-5px;
	padding-left: 10px;
}
#discuss .timeStamp {
    color: grey;
    font-style: italic;
    font-size: small;
    padding:45px;
    float:right;
    margin-top:-3px
}
#discuss .discuss-content{
	background:#ffffff;
	border-radius:10px;
	margin-top:-15px;
	padding-bottom:30px;
	padding-left:10px;
	padding-top:10px;
	text-indent:30px;
}
#discuss #discuss-pinned {
    background:#31b0d5;
}
#discuss-pinned .discuss-pinned-btn {
    float: left;
    width: 5%;
    font-size: 20px;
}
#discuss-pinned .discuss-pinned-content {
    float: left;
    width: 85%;
}
#discuss .discuss-btn {
	margin-top:-20px;
	padding-left:35px;
	font-weight:700;
	cursor:pointer;
}
.discuss-btn img {
	width:16px;
	height:16px;
}
#discussPost {
	width:85%;
	border-radius:5px;
	padding: 2px 5px;
	float:left;
}
#post-btn {
	width:9%;
	height:50px;
	float:left;
	background:#212121;
	color:#FFFFFF;
	border:none;
	border-radius:3px;
	transition:ease-in-out 0.5s;
}
#post-btn:hover {
	border-radius: 7px;
	color:#212121;
	background:#FFFFFF;
}
.popup {
	position:fixed;
	top:25%;
	left:25%;
	background: #dfdfdf;
	border: thin solid #282e35;
	border-radius:10px;
	padding:10px;
    -webkit-box-shadow: 20px 15px 45px -10px rgba(7,13,46,0.7);
    -moz-box-shadow: 20px 15px 45px -10px rgba(7,13,46,0.7);
    -o-box-shadow: 20px 15px 45px -10px rgba(7,13,46,0.7);
    box-shadow: 20px 15px 45px -10px rgba(7,13,46,0.7);
}
.close-popup {
	position:absolute;
	right:-5px;
	top:-5px;
	height:25px;
	width:25px;
	cursor:pointer;
}
.discuss-popup-scroll {
	overflow:auto;
	width:100%;
}
.discuss-popup-scroll .avatar {
	height:30px;
	width:30px;
	float:left;
}
.discuss-popup-scroll p {
	border-bottom: #393C4F solid thin;
	padding-bottom:3px;
	margin-bottom:5px;
}
.discuss-popup-scroll p:last-child {
    border-bottom: none;
}
#discuss .time,
#commentShow .time {
    color: #555555;
    font-style: italic;
    padding-left: 35px;
    font-size: smaller;
}
#comment {
	border:none;
	border-radius:5px;
	padding: 5px;
	width:98%;
}
.cmt-callout {
    float: left;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px;
    width: 11px;
    height: 31px;
    background: url("../img/comment-callout.png") top no-repeat;
}
.cmt-content {
    float: left;
    background: #fff;
    padding:5px;
    border-radius: 3px;
}

#agenda .scroll {
	height:510px;
}
#eventFrm input[type="date"],
#eventFrm input[type="time"] {
	padding:2px 5px;
	border:0px;
	border-radius:3px;
	color:#fff;
	background:#373737;
}
#eventFrm textarea {
	width:98%;
	padding:5px;
}
#workContent table input[type='text'] {
    background: none;
    border: thin solid;
    padding:5px;
}

.col-left{
	width:39%;
}
.col-right{
	width:60%;
}

#people {
    position: relative;
}
#people #people-name-list h2{
	border-bottom:1px solid #182236;
	margin-top:10px;
	cursor:pointer;
}
#people #people-name-list h2 span{
	background: #182236;
	color:#fff;
	padding: 0px 10px;
}
#people #people-name-list li {
    padding: 8px 5px;
    background: #C1C1C1;
    border-bottom: dashed thin #2e6da4;
    transition: ease 0.5s;
}
#people #people-name-list li:last-child {
    border-bottom: none;
}
#people #people-name-list li:hover {
    background: #d0d0d0;
    font-weight: bold;
}
#people-popup h2 {
	width:50px;
	height:50px;
	color:#fff;
	background:#182236;
	padding:10px;
	margin:5px;
	text-align:center;
	line-height:50px;
	text-transform:uppercase;
	font-weight:200;
	font-size:36px;
	transition:ease-in-out 0.5s;
}
#people-popup a {
	color:#fff;
	text-decoration:none;
}
#people-popup h2:hover {
	background:#fff;
	color:#182236;
	font-weight:bold;
}
#peopleSearch-section {
    position: absolute;
    width: 36%;
}
#peopleSearch-ico {
    position: absolute;
    color:#fff;
    left:34%;
    transition: ease 0.7s;
    padding: 4px 5px;
}
#peopleSearch-ico:hover {
    border-radius: 3px;
    background: #fff;
    color:#000;
    transition: ease 0.7s;
}
#peopleSearch {
    margin-right: -35px;
    margin-top: 0px;
	border:none;
	border-radius:3px;
	background:#7A7A7A;
	color:#fff;
	width:36%;
    height:20px;
	font-size:16px;
	padding:3px 5px;
	transition:ease-in-out 0.5s;
    position: absolute;
}
#peopleSearch:hover,
#peopleSearch:focus {
	background:#2A2A2A;
}
#peopleSearch-show-alphabet {
    color:#fff;
    font-size: larger;
    margin-top: 15px;
    padding: 0px 3px;
}
#peopleSearch-show-alphabet:hover {
    background: #fff;
    color:#000;
}
#people-avatar {
	text-align:center;
}
#people-avatar img {
    border-radius: 5px;
}
/*#people-avatar-cover{
	width:100%;
	margin-bottom: 0px;
	display:none
}*/
#people-desc table {
	font-size:20px;
}
#people-desc th{
	text-align:right;
	padding: 3px 10px;
}
#peopleName {
	font-weight:400;
	font-size:24px;
}

#support .col-left {
	width:30%;
}
#support .col-right {
	width:68%;
}
#support ul {
	font-size:24px;
	padding-left:10px;
}
#support ul li {
	padding-top:10px;
	border-bottom: thin solid #1A2E43;
	cursor:pointer;
}
#support #subList li {
	margin-left:30px;
	padding-top:0px;
	border-bottom:none;
}

#addTodo {
	width:100%;
	height: 20px;
	padding: 3px 2px;
	background:rgba(35,37,58,0.75);
	color:#fff;
	border:none;
	border-radius:3px;
	margin-bottom: 5px;
	transition:ease-out 0.5s;
}
#addTodo:hover,
#addTodo:focus {
	background:rgba(213,234,248,0.7);
	color:#000;
	border-radius:15px;
}
#todoScroll {
	overflow:auto;
	height:82%;
	width:100%;
	transition:ease 0.5s;
}
.todoItem{
	cursor:pointer;
	padding: 5px 0px;
	transition:ease 0.5s;
}
.todoItem:hover {
	text-decoration:underline;
	margin-left: 30px;
	z-index:20;
}
.todoEven{
	background:rgba(0,0,0,0.5);
	list-style:#fff;
}
.todoOdd{
	color:#1B1B1B;
	background:rgba(255,255,255,0.7);
}
.todoDone{
	color:#747474;
	text-decoration:line-through;
}
.todoNew{
	font-style:italic;
}

.usr-tabs {
    list-style-type: none;
    font-size: larger;
    border-bottom: thin solid #1F2A3B;
}
.usr-tabs li {
    display: inline-block;
    padding: 5px 15px;
    transition: ease 0.5s;
}
.usr-tabs li:hover {
    text-decoration: underline;
    background: #31b0d5;
}
.usr-tabs .active,
.usr-tabs .active:hover {
    font-weight: bold;
    text-decoration: none;
    color:#fff;
    background: #1F2A3B;
}

#usr-pg table td{
    vertical-align: top;
    padding-bottom: 5px;
}
#usr-pg input[type="text"],
#usr-pg input[type="password"],
#usr-pg {
    padding: 5px;
    width: 90%;
    font-size: 16px;
}

#ad, #google_image_div, .logofav {
    display: none !important;
}