/* Webfont: SourceSansPro */@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro.eot?#iefix'); /* IE9 Compat Modes */
    src: url('../fonts/SourceSansPro.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/SourceSansPro.woff') format('woff'), /* Modern Browsers */
    url('../fonts/SourceSansPro.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/SourceSansPro.svg#SourceSansPro') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Glyph */@font-face {
    font-family: 'Glyph';
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix'); /* IE9 Compat Modes */
    src: url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Mobile Browsers */
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/glyphicons-halflings-regular.svg') format('svg'); /* Legacy iOS */
}

@keyframes ani-box {
    0% {
        border-color: #a94442;
    }
    50% {
        border-color: cornsilk;
    }
    100% {
        border-color: #a94442;
    }
}
@-webkit-keyframes ani-box {
    0% {
        border-color: #a94442;
    }
    50% {
        border-color: cornsilk;
    }
    100% {
        border-color: #a94442;
    }
}
@-moz-keyframes ani-box {
    0% {
        border-color: #a94442;
    }
    50% {
        border-color: cornsilk;
    }
    100% {
        border-color: #a94442;
    }
}
@-o-keyframes ani-box {
    0% {
        border-color: #a94442;
    }
    50% {
        border-color: cornsilk;
    }
    100% {
        border-color: #a94442;
    }
}
@keyframes ani-bg {
    0% {
        background-color: #1F2A3B;
    }
    20% {
        background-color: #005544;
    }
    40% {
        background-color: #8a6d3b;
    }
    60% {
        background-color: #843534;
    }
    80% {
        background-color: #350037;
    }
    100% {
        background-color: #1F2A3B;
    }
}
@-webkit-keyframes ani-bg {
    0% {
        background-color: #1F2A3B;
    }
    20% {
        background-color: #005544;
    }
    40% {
        background-color: #8a6d3b;
    }
    60% {
        background-color: #843534;
    }
    80% {
        background-color: #350037;
    }
    100% {
        background-color: #1F2A3B;
    }
}
@-moz-keyframes ani-bg {
    0% {
        background-color: #1F2A3B;
    }
    20% {
        background-color: #005544;
    }
    40% {
        background-color: #8a6d3b;
    }
    60% {
        background-color: #843534;
    }
    80% {
        background-color: #350037;
    }
    100% {
        background-color: #1F2A3B;
    }
}
@-o-keyframes ani-bg {
    0% {
        background-color: #1F2A3B;
    }
    20% {
        background-color: #005544;
    }
    40% {
        background-color: #8a6d3b;
    }
    60% {
        background-color: #843534;
    }
    80% {
        background-color: #350037;
    }
    100% {
        background-color: #1F2A3B;
    }
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro";
    transition: ease-in-out 0.75s;
}
body {
    background: #1F2A3B;
    padding-top: 15%;
    animation: ani-bg ease-in 20s;
    animation-iteration-count: infinite;
    -moz-animation: ani-bg ease-in 20s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: ani-bg ease-in 20s;
    -webkit-animation-iteration-count: infinite;
    -o-animation: ani-bg ease-in 20s;
    -o-animation-iteration-count: infinite;
}
.glyph {
    font-family: Glyph;
}
h1, h2 {
    text-align: center;
    color:#fff;
}
form {
    text-align: center;
    padding-top:45px;
}
input[type="password"] {
    padding: 5px;
    border: thick #a94442 solid;
    text-align: center;
    animation: ani-box 3s;
    animation-iteration-count: infinite;
    -moz-animation: ani-box 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: ani-box 3s;
    -webkit-animation-iteration-count: infinite;
    -o-animation: ani-box 3s;
    -o-animation-iteration-count: infinite;
}
input[type="password"]:focus {
    padding: 5px;
    border: thick #31b0d5 solid;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    text-align: center;
}
input[type="submit"] {
    padding: 10px 25px;
    background: #005544;
    font-size: 16px;
    color:#fff;
    border: none;
    margin-top: 10px;
    transition: ease 0.5s;
}
input[type="submit"]:hover {
    background: #31b0d5;
}
p {
    width: 80%;
    margin: auto;
    background: #a94442;
    color:#fff;
    text-align: center;
    padding: 5px;
}
