/* Webfont: SourceSansPro */@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro.eot'); /* IE9 Compat Modes */
    src: url('SourceSansPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('SourceSansPro.woff') format('woff'), /* Modern Browsers */
         url('SourceSansPro.ttf') format('truetype'), /* Safari, Android, iOS */
         url('SourceSansPro.svg#SourceSansPro') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

