@charset "utf-8";
/* CSS Document */
::-webkit-scrollbar {
      width:8px;
}
::-webkit-scrollbar-track {
      background-color: #FFFFFF;
	  border-radius:5px;
}
::-webkit-scrollbar-thumb {
      background: #646464 url(../img/scroll-pattern.png);
	  border-radius:5px;
} 
::-webkit-scrollbar-thumb:hover {
      background-color: #1F2A3B;
} 
::-webkit-scrollbar-button {
      background-color: #FFF;
	  height:0px;
}
::-webkit-scrollbar-corner {
      background-color: #161616;
}

/* IE5 , IE6 */
body {  
    scrollbar-face-color: #646464;  
    scrollbar-shadow-color: #c0c0c0;  
    scrollbar-highlight-color:#1F2A3B;  
    scrollbar-3dlight-color: #1F2A3B;  
    scrollbar-darkshadow-color: #1F2A3B;  
    scrollbar-track-color: #FFFFFF;  
    scrollbar-arrow-color: #C1C1D1;   
}