@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700&subset=latin,vietnamese);

* {
	padding:0px;
	margin:0px;
	font-family:"Source Sans Pro";
}
body {
	background:#f1f1f1 url(../img/bg.png) center no-repeat fixed;
	background-size: auto;
}
header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:35px;
}
#shortcuts {
	position:fixed;
	width:60%;
	height:60%;
	left:20%;
	top:20%;
	background: rgba(0,0,0,0.6) url(../img/shortcuts.png) no-repeat;
	background-position:center;
	background-size:contain;
	padding:10px;
	border:thick solid #FFFFFF;
	border-radius:10px;
	z-index:100;
	transition:ease 0.5s;
}

h1{
	font-weight:400;
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
}

.clear {
	clear:both;
}
#popup-bg {
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.1);
	position:fixed;
}
.container {
	padding:10px 5px;
	width:100%;
}

.scroll{
	overflow:auto;
	overflow-style:marquee-line;
	width:99%;
}

.col {
	float:left;
	overflow:auto;
}

#main-framework{
	position:fixed;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	z-index:-1;
	padding-top:0px;
}

nav {
	height:35px;
	line-height:35px;
	width:100%;
	color:#fff;
	transition:ease-in-out 0.5s;
}
#nav-logo{
	height:35px;
	width:20%;
	background:url(../img/logo.png) center no-repeat;
	background-size: contain;
}
nav a{
	color:#fff;
	text-decoration:none;
}
nav ul li{
	list-style-type:none;
	display:inline-block;
	text-align:center;
}
.nav-left {
	width: 20%;
	float:left;
}
.nav-center {
	width:65%;
	float:left;
}
.nav-right {
	width:15%;
	float:right;
}

#top-nav {
	background:rgba(47,47,47,0.7);
}

#nav-icons {
	float:right;
}
#nav-icons li {
	cursor:pointer;
	line-height:35px;
	transition:ease-in-out 0.5s;
	padding:0px 10px;
}
#nav-icons li img{
	width:26px;
	height:26px;
	
}
#nav-icons li:hover,
.nav-icons-selected {
	background:#17262D;
}

#navigator {
	background:rgba(39,45,51,0.8);
}
#nav-tabs li {
	line-height:35px;
	cursor:pointer;
}
#nav-tabs li.context{
	width:20%;
	font-size:25px;
	font-weight:400;
	border-right: thin solid #C3C3C3;
	margin:0px;
	padding:0px;
	transition:ease-in 0.6s;
}
#nav-tabs li:first-child {
	border-left: thin solid #C3C3C3;
}
#navigator #search-todo {
	width:100%;
}

#search-master, #search-todo {
	height:30px;
	line-height:35px;
	color:#FFFFFF;
	background:rgba(130,130,130,0.80);
	border:none;
	border-radius: 3px;
	transition:ease-in-out 0.5s;
	padding-left:3px;
}
#search-master:hover, #search-todo:hover,
#search-master:focus, #search-todo:focus {
	height:32px;
	border-bottom:solid #8C8C8C 1.5px;
	border-top:solid #8C8C8C 0.5px;
	border-radius: 20px;
	color:#1F1F1F;
	background:rgba(255,255,255,0.9);
}
.nav-current {
	background:#22303e;
	transition:ease-in-out 0.5s;
	border-bottom: 3px solid #ff503f;
	height:32px;
	color:#ff503f;
}
.nav-current:hover {
	color:#ff503e !important;
}
#nav-tabs li:hover {
	color: #ff503f;
}

#search-float {
	position:fixed;
	left: 20%;
	top:00px;
	width:64%;
	background:#272d33;
	color:#FFFFFF;
	border-bottom:#252c32 solid 3px;
	border-radius:5px;
	padding: 5px;
	padding-bottom:15px;
}
#search-result {
	background:#272d33;
	color:#f1f1f1;
	overflow:auto;
}
#search-result p{
	color:#282e33;
	background: rgba(248,248,248,0.75);
	padding: 5px;
	margin:5px 3px;
	border-radius:3px;
	transition:ease 0.3s;
}
#search-result p:hover{
	background: #fff;
	border-radius:5px;
}
#search-result a{
	color:#282e31;
	font-weight:bold;
}
#search-master {
	width:99%;
	text-align:left;
	margin-top:-5px;
}
#exit-ico {
	width:24px;
	height:24px;
	cursor:pointer;
	position:absolute;
	bottom: -12px;
	right:15px;
}

#nav-user {
	width:26px;
	height:26px;
}
#personInfo-float {
	position:fixed;
	background:#17262D;
	padding:10px;
	color:#fff;
	top:35px;
	right:10%;
}
#personInfo-float h3 {
	text-align:center;
}
#personInfo-float span {
	font-weight:bold;
}

.nav-float{
	position:fixed;
	top:35px;
	right:0px;
	background:#17262D;
	color:#fff;
	padding:10px;
}

#nav-settings ul{
	list-style-type:none;
	margin:0px;
	display:block !important;
}
#nav-settings li {
	border-bottom: thin dotted #CBCBCB;
}

#frame-left, #frame-center, #frame-right{
	float:left;
	height:100%;
	transition:ease-in-out;
	padding-top:35px;
}
#frame-left{
	width:20%;
	background:#363f4d;
	color:#EDEDED;
}
#frame-center{
	width:61.5%;
	background:rgba(229,229,229,0.75);
	transition:ease 0.3s;
}
#frame-center:hover{
	background:rgba(241,241,241,0.90);
}
#frame-right{
	width:16.5%;
	background:#40464f;
	color:#EDEDED;
	position:absolute;
	top:0px;
	right:0px;
}

.left-event {
	padding-top:10px;
	border-bottom: thin dashed #676767;
}

#frame-left select {
	border:none;
	border-radius:5px;
	padding-right:15px;
	background:#666666;
	color:#FFFFFF;
	font-size:16px;
	font-weight:700;
}
#frame-left option {
	background:#242a31;
	color:#fff;
}
#frame-left img {
	width:85%;
}

#discuss .scroll {
	height:480px;
}
#discuss .avatar {
	height:40px;
	width:40px;
	margin-bottom:-5px;
	margin-top:15px;
	border-radius:20px;
	border:thin dashed #4f5154;
}
#discuss .name {
	font-weight:400;
	font-size:18px;
	line-height:40px;
	margin-top:-5px;
	padding-left: 10px;
}
#discuss .discuss-content{
	background:#d5d5d5;
	border-radius:10px;
	margin-top:-15px;
	padding-bottom:20px;
	padding-left:10px;
	padding-top:10px;
	text-indent:30px;
}
#discuss .discuss-btn {
	margin-top:-20px;
	padding-left:35px;
	font-weight:700;
	cursor:pointer;
}
.discuss-btn img {
	width:16px;
	height:16px;
}
#discuss-post {
	width:85%;
	border-radius:5px;
	padding: 2px 5px;
	float:left;
}
#post-btn {
	width:9%;
	height:50px;
	float:left;
	background:#212121;
	color:#FFFFFF;
	border:none;
	border-radius:3px;
	transition:ease-in-out 0.5s;
}
#post-btn:hover {
	border-radius: 7px;
	color:#212121;
	background:#FFFFFF;
}
.popup {
	position:fixed;
	top:25%;
	left:25%;
	background: #dfdfdf;
	border: thin solid #282e35;
	border-radius:10px;
	padding:10px;
}
.close-popup {
	position:absolute;
	right:-5px;
	top:-5px;
	height:25px;
	width:25px;
	cursor:pointer;
}
.discuss-popup-scroll {
	overflow:auto;
	width:100%;
}
.discuss-popup-scroll .avatar {
	height:30px;
	width:30px;
	float:left;
}
.discuss-popup-scroll p {
	border-bottom: #393C4F solid thin;
	padding-bottom:3px;
	margin-bottom:5px;
}
#comment {
	border:none;
	border-radius:5px;
	padding: 5px;
	width:98%;
}

#agendar .scroll {
	height:510px;
}
#eventFrm input[type="date"],
#eventFrm input[type="time"] {
	padding:2px 5px;
	border:0px;
	border-radius:3px;
	color:#fff;
	background:#373737;
}
#eventFrm textarea {
	width:98%;
	padding:5px;
}

.col-left{
	width:39%;
}
.col-right{
	width:60%;
}
#people #people-name-list h2{
	border-bottom:1px solid #182236;
	margin-top:10px;
	cursor:pointer;
}
#people #people-name-list h2 span{
	background: #182236;
	color:#fff;
	padding: 0px 10px;
}
#people-popup h2 {
	width:50px;
	height:50px;
	color:#fff;
	background:#182236;
	padding:10px;
	margin:5px;
	text-align:center;
	line-height:50px;
	text-transform:uppercase;
	font-weight:200;
	font-size:36px;
	transition:ease-in-out 0.5s;
}
#people-popup a {
	color:#fff;
	text-decoration:none;
}
#people-popup h2:hover {
	background:#fff;
	color:#182236;
	font-weight:bold;
}
#peopleSearch {
	border:none;
	border-radius:3px;
	background:#7A7A7A;
	color:#fff;
	width:90%;
	font-size:16px;
	padding:3px 5px;
	transition:ease-in-out 0.5s;
}
#peopleSearch:hover,
#peopleSearch:focus {
	background:#2A2A2A;
}
#people-avatar {
	background:url(../img/empl.png) center no-repeat;
	background-size:contain;
	text-align:center;
	position:relative;
}
#people-avatar-cover{
	width:100%;
	margin-bottom: 0px;
	display:none
}
#people-desc table {
	font-size:20px;
}
#people-desc th{
	text-align:right;
	padding: 3px 10px;
}
#peopleName {
	font-weight:400;
	font-size:24px;
}

#support .col-left {
	width:30%;
}
#support .col-right {
	width:68%;
}
#support ul {
	font-size:24px;
	padding-left:10px;
}
#support ul li {
	padding-top:10px;
	border-bottom: thin solid #1A2E43;
	cursor:pointer;
}
#support #subList li {
	margin-left:30px;
	padding-top:0px;
	border-bottom:none;
}

#addTodo {
	width:100%;
	height: 20px;
	padding: 3px 2px;
	background:rgba(35,37,58,0.75);
	color:#fff;
	border:none;
	border-radius:3px;
	margin-bottom: 5px;
	transition:ease-out 0.5s;
}
#addTodo:hover,
#addTodo:focus {
	background:rgba(213,234,248,0.7);
	color:#000;
	border-radius:15px;
}
#todoScroll {
	overflow:auto;
	height:82%;
	width:100%;
	transition:ease 0.5s;
}
.todoItem{
	cursor:pointer;
	padding: 5px 0px;
	transition:ease 0.5s;
}
.todoItem:hover {
	text-decoration:underline;
	margin-left: 30px;
	z-index:20;
}
.todoEven{
	background:rgba(0,0,0,0.5);
	list-style:#fff;
}
.todoOdd{
	color:#1B1B1B;
	background:rgba(255,255,255,0.7);
}
.todoDone{
	color:#747474;
	text-decoration:line-through;
}
.todoNew{
	font-style:italic;
}
