@charset "utf-8";
/* CSS Document */
/* Webfont: SourceSansPro */@font-face {
    font-family: 'SourceSansPro';
    /*src: url('../../fonts/SourceSansPro.eot'); /* IE9 Compat Modes */
    /*src: url('../../fonts/SourceSansPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/SourceSansPro.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/SourceSansPro.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/SourceSansPro.svg#SourceSansPro') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
}

* {
	padding:0px;
	margin:0px;
	font-family:"Source Sans Pro", Calibri, sans-serif;
	font-size:16px;
}
body {
	background:#f1f1f1 url(../img/bg.jpg) center no-repeat fixed;
	background-size: cover;
	cursor:url(../../img/cursor.cur), auto;
}
header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:45px;
}
#shortcuts {
	position:fixed;
	width:60%;
	height:60%;
	left:20%;
	top:20%;
	background: rgba(0,0,0,0.6) url(../img/shortcuts.png) no-repeat;
	background-position:center;
	background-size:contain;
	padding:10px;
	border:thick solid #FFFFFF;
	border-radius:10px;
	z-index:100;
	transition:ease 0.5s;
}

h1{
	font-weight:400;
	font-size:22px;
	text-transform:uppercase;
	text-align:center;
}

.bold {
	font-weight:bolder !important;
}
.clear {
	clear:both;
}
#popup-bg {
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.1);
	position:fixed;
}
.container {
	padding:10px 5px;
	width:100%;
}

.scroll{
	overflow:auto;
	overflow-style:marquee-line;
	width:99%;
    height: 40%;
}

.col {
	float:left;
	overflow:auto;
}

#wrapper {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.content {
	margin:5px;
	overflow:auto;
}

#side-1,#side-2 {
	color:#FCFCFC;
}

#side-1 {
	float:left;
	background:#3d4851;
}
#side-1 ul {
	list-style-type:none;
}
#side-1 img {
	width:75%;
}
#side-1 li {
	padding: 15px 0px;
	font-size:12px;
	text-transform:uppercase;
	text-align:center;
	transition:ease-in-out 0.5s;
}
#side-1 li:first-child {
	margin-top:35px;
}
#nav-logout {
	position:absolute;
	width:6%;
	left:0px;
	bottom:25px;
}
#nav-logout:hover {
	background:#c92615 !important;
}
#side-1 li:hover {
	background:#799AB4;
}
#side-1 .current {
	background:#4d667a;
}
#side-1 .current:hover {
	background:#4d667a !important;
}

#side-2 {
	float:left;
	background:#4d667a;
}
#side-2 ul li {
	list-style-type:none;
	padding: 20px 5px;
	margin-top:0px;
	transition:ease 0.3s;
}
#side-2 li:first-child {
	margin-top: 40px;
}
#side-2 li:hover {
	background:rgba(255,255,255,0.45);	
}
#side-2 .current {
	background:rgba(254,254,254,0.75);
	color:#4d667a;
	font-weight:bolder;
}

#main {
	float:left;
	background:rgba(254,254,254,0.5);
    position: relative;
}

#name-pane {
    overflow: auto;
    position: absolute;
}
#people-name-list {
    width: 100%;
    height:90%;
    background: #f5f5f5;
    border-radius: 5px;
}
#people-name-list h2{
    border-bottom:1px solid #182236;
    margin-top:10px;
    cursor:pointer;
}
#people-name-list h2 span{
    background: #182236;
    color:#fff;
    padding: 0px 10px;
}
#people-name-list li {
    padding: 5px 10px;
}
#people-name-list li:hover {
    background: #fff;
    font-weight: bold;
}
#people-popup h2 {
    width:50px;
    height:50px;
    color:#fff;
    background:#182236;
    padding:10px;
    margin:5px;
    text-align:center;
    line-height:50px;
    text-transform:uppercase;
    font-weight:200;
    font-size:36px;
    transition:ease-in-out 0.5s;
}
#people-popup a {
    color:#fff;
    text-decoration:none;
}
#people-popup h2:hover {
    background:#fff;
    color:#182236;
    font-weight:bold;
}
#peopleSearch {
    border:none;
    border-radius:3px;
    background:#7A7A7A;
    color:#fff;
    width: 100%;
    margin-right: -30px;
    font-size:16px;
    padding:3px 5px;
    transition:ease-in-out 0.5s;
}
#peopleSearch:hover,
#peopleSearch:focus {
    background:#2A2A2A;
}
#show-alphabet-popup {
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    padding: 4px;
}
#show-alphabet-popup:hover {
    background: #fff;
    color:#000;
    border-radius: 3px;
    transition: ease 0.75s;
}
#people-avatar {
    background:url(../img/empl.png) center no-repeat;
    background-size:contain;
    text-align:center;
    position:relative;
}
#people-avatar-cover{
    width:100%;
    margin-bottom: 0px;
    display:none
}
#people-desc table {
    font-size:20px;
}

.popup {
    position:fixed;
    top:25%;
    left:25%;
    background: #dfdfdf;
    border: thin solid #282e35;
    border-radius:10px;
    padding:10px;
}
.close-popup {
    position:absolute;
    right:-5px;
    top:-5px;
    height:25px;
    width:25px;
    cursor:pointer;
}

